@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  display: none;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);

  margin: 40px 0;

  /* overflow-y: auto; */
}

.center-content::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
